.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  margin-bottom: 50px;
  font-size: 45px;
}

.Ranking {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.form-group {
  width: 80%;
  margin: 0 0 50px 0;
}

input[type="email"] {
  margin: 10px 0 10px 0;
  width: 100%;
  height: 35px;
}